* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background: gray;
}

.container {
    height:100vh;
    display:grid;
    grid-auto-columns: auto;
    place-items: center center;
}

#etchasketch{
    background: rgba(255,255,255);
    width:800px;
    height: 800px;
    display:grid;
    box-sizing: content-box;
    border:1px solid black;
}